.vagrant
*.swp
*.tgz
*.zip
Python-2.7.11.tgz
logs/
sqlcl-17.4.0.354.2224-no-jre.zip
*.tar.gz
*.sublime-project
*.sublime-workspace
\!trash
.DS_Store
*.lck
tools/linux/soadb/1.0/connstrs
varia/access-OSB*
*.vfuk*
db-backup
*.pyc
*.test
*.out
stage